<div class="row">
    <div class="col-sm-4">
        <div class="card bg-dark text-light shadow">
            <img src="/assets/orderPreview.png" class="card-img-top rounded">
            <div class="card-body flex-row-reverse d-flex">
                <a href="/order_entry" class="btn btn-primary">Go to Ordering Menu</a>
            </div>
        </div> 
    </div>
    <div class="col-sm-5">
        <div class="card shadow">
            <div class="card-header bg-warning">
                <h3 class="text-uppercase" id="ipays-title">Popular Menu Item of the Week!</h3>
            </div>
            <img src="/assets/placeholder.jpg" id="popularMenuImage" class="card-img-top rounded">
            <div class="card-body">
                <h5 class="card-title" id="popularMenuName"></h5>
                <p class="card-text" id="popularMenuText"></p>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
    var orderList = {};
    var activeMenuList = {};
    var activeMenuArray = [];
    var orderItemCount = [];

    $(document).ready(function(){
        getOrderList();
    });

    //Get Order List Data
    function getOrderList(){
        $.ajax({
            url: "order_list"
        }).done(function(data){
            orderList = data;
            getActiveMenuList();
        });
    }   

    function getActiveMenuList(){
        $.ajax({
            url: "active_menu_list"
        }).done(function(data){
            activeMenuList = data;

            for(item of activeMenuList){
                activeMenuArray.push(item["menuName"]);
                orderItemCount.push(0);
            }
            countOrderItems();
        });
    }

    function countOrderItems(){
        for(order of orderList){
            if(getWeekRange(new Date(order["createdAt"]))){
                if(order["orderStatus"] == "Completed"){
                    for(details of order["orderDetails"]){
                        var index = activeMenuArray.indexOf(details["orderItem"]["menuName"]);
                        orderItemCount[index] += parseFloat(details["orderQuantity"]);
                    }
                }
            }
        }

        var maxValue = Math.max.apply(Math, orderItemCount);
        var mostPopularIndex = orderItemCount.indexOf(maxValue);
        var mostPopularItem = activeMenuArray[mostPopularIndex];
        setMostPopular(mostPopularItem, maxValue);
    }

    function getWeekRange(today){
        var firstDay = new Date().getDate() - new Date().getDay();
        var lastDay = new Date().getDate() - (new Date().getDay() - 1) + 5;

        var firstDayOfWeek = new Date(new Date().setDate(firstDay));
        var lastDayOfWeek = new Date(new Date().setDate(lastDay));

        if(today >= firstDayOfWeek || today <= lastDayOfWeek) return true;
        else return false;
    }
    
    function setMostPopular(name, max){
        for(item of activeMenuList){
            if(item["menuName"] == name){
                $("#popularMenuImage").attr('src', '/menuImages/' + item["menuImage"]);
                $("#popularMenuName").append(name);
                $("#popularMenuText").append("This item has had "+ max +" sales this week!");
            }
        }
    }
</script>